# Daftarkan file yang dilarang naik ke GitHub
Data Visualization Case
Deka_project_dataset_BankXYZ
healthcare copy.py
healthcare.py
my streamlit gue - Copy.py
my streamlit gue.py
my.py
yes.py

# Sembunyikan folder cache jika ada
__pycache__/